# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# iOS ve Android klasörleri (Expo'da genellikle repoya eklenmez)
ios/
android/

# Build çıktıları
build/

# Log dosyaları
gradle.log
*.log

app-example
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/ues-mobile-app.iml
/.idea/vcs.xml
/_calismalar/
